<section class="Page Website">
	<div class="box ba bw1 flex flex-column flex-auto">
		<div class="header">
			<h2 class="bg0 fg1 ph3 pv2">
				Website
			</h2>
		</div>

		<div class="content ph3">
			<p>So, you're interested in this website? Well nothing special.</p>

			<p>The css was accomplished with a bit of <a href="http://tachyons.io">Tachyons</a> and inspiration from old school assembly reference cards.</p>

			<p>Icons are from <a href="https://game-icons.net">game-icons.net</a></p>

			<p>
				There is almost no javascript, and pages should be safe to print to pdf format.
				The only places javascript would be present in, would be the node pages for model rendering, <b>which I have not finished as of this writing.</b>
			</p>

			<p>
				If you want the source, it is available in it's <a href="https://github.com/IceDragon200/yatm.icedragon.space">github repo</a>.

				Node, Craftitem and Tool information is pulled from the TOML dumps created by the yatm_core.

				Feel free to take it, remix and adapt, the actual ruby code was just thrown together to make me a website and likely will not scale for any other uses without some major refactors.
			</p>

			<p>Mobile format is broken, I'm working on it, but it's not a priority at the moment.</p>
		</div>
	</div>
</section>
