<section class="Page About">
	<h2 class="bg0 fg1 ph3 pv2">Yet Another Tech Mod</h2>
	<h3>Welcome Traveller</h3>
	<p>You have arrived at the official YATM web page.</p>

	<div class="box">
		<div class="header">
			<h3 class="bg0 fg1 ph3 pv2">What is YATM?</h3>
		</div>

		<div class="content">
			<p>YATM is a mod for <a href="https://www.minetest.net">Minetest</a>.</p>
			<p>It adds various new elements, geared towards industrial processing, and various other elements.</p>
			<p><b>YATM does not attempt to be realistic.</b></p>
		</div>
	</div>

	<div class="bg0">
		<img class="mla mra" alt="Mod Logo" src="<%= import_asset('@:/images/logo_white.png') %>" >
	</div>
</section>
