<%
  data[:post][:title] = "Icons!"
  data[:post][:date] = Time.parse("2019-11-13T23:00:00Z")
  data[:post][:summary] = "So, I've updated the site again."
  data[:post][:icon] = "wooden-sign"
%>
<p>So I've been quietly reworking part so of the site, mobile support is still spotty but it should suck less now!</p>

<p>In addition, the craftitems and tools sections were added, so you can check those out.</p>

<p>Mods also include their craftitem and tool lists.</p>

<p>
	In addition, I've added icons, shout out to <a href="https://game-icons.net">game-icons.net</a>, I've used the icons there in a few other personal projects.

	These icons will be used to annotate posts to add a bit more flaire to them.
</p>
