<section class="Page Downloads">
	<div class="box ba bw1 flex flex-column flex-auto">
		<div class="header">
			<h2 class="bg0 fg1 ph3 pv2">Github Releases</h2>
		</div>

		<div class="content ph3 pv2">
			<p>You can pick up the latest version or release of YATM from it's github page <a href="https://github.com/IceDragon200/mt-yatm/">here</a>.</p>
		</div>
	</div>
</section>
