<section class="Page Developer BlastsAPI">
  <div class="box ba bw1 flex flex-column flex-auto mb3">
    <div class="header">
      <h2 class="bg0 fg1 ph3 pv2">Blasts API</h2>
    </div>

    <div class="content ph3 pv2">
      <p class="subtitle">The blasts API handles the logic for explosions.</p>
    </div>
  </div>
</section>
