/*

  YATM styles

 */
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: 'Barlow', sans-serif, monospace;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  /*max-width: 960px;*/
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  width: 90%;
  /*max-width: 1080px;*/
  /*max-width: 960px;*/
  margin-left: auto;
  margin-right: auto;
  flex: 1 1 100%;
}

footer {
  width: 90%;
  /*width: 100%;*/
  /*max-width: 960px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem 2.0rem;
}

section.Page {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

a {
  box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 0;
}

a:hover {
  color: #009cfd;
}

.bg0 {
  background-color: #000;
}

.bg-data-pink {
  background-color: #D81B60;
}

.bg-device-teal {
  background-color: #00897B;
}

.bg-mesecon-yellow {
  background-color: #FFFF00;
}

.bg-developer-deep-purple {
  background-color: #5E35B1;
}

.fg0 {
  color: #000;
}

.fg1 {
  color: #FFF;
}

.box {
}

.box > .header {
  margin: 0;
}

.box > .header > h1,
.box > .header > h2,
.box > .header > h3,
.box > .header > h4,
.box > .header > h5,
.box > .header > h6,
.box > .header > .heading
{
  display: inline-block;
  width: 40%;
}

#model-canvas {
  width: 320px;
  height: 320px;
}

.attachment-full {
  position: absolute;
  right: 0px;
  top: 0px;
}

header nav {
  margin-bottom: 1rem;
}

header nav a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #FFF;
}

header nav a:hover {
  color: #000;
  border-bottom: 2px solid #000;
}

header nav a:active, header nav a.active {
  color: #fff;
  background-color: #000;
}

header nav a:focus {
  color: #009cfd;
}

.focus-container .show-on-focus {
  display: none;
}

.focus-container:focus {
}

.focus-ba:focus {
  border: 1px solid #000;
}

.focus-border-bg0:focus {
  border-color: #000;
}

.focus-bg0:focus {
  background: #000;
}

.focus-fg1:focus {
  color: #FFF;
}

.focus-container:focus .show-on-focus {
  display: initial;
}

@media print {
  header {
    display: none;
  }

  .bg0, .fg1 {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

@media (max-width: 960px) {
  header nav a {
    display: block;
  }

  .box > .header > h1,
  .box > .header > h2,
  .box > .header > h3,
  .box > .header > h4,
  .box > .header > h5,
  .box > .header > h6,
  .box > .header > .heading
  {
    width: 60%;
  }
}

@media (max-width: 720px) {
  .box > .header > h1,
  .box > .header > h2,
  .box > .header > h3,
  .box > .header > h4,
  .box > .header > h5,
  .box > .header > h6,
  .box > .header > .heading
  {
    display: block;
    width: 100%;
  }
}

@media (max-width: 480px) {
  main {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

.va-top {
  vertical-align: top;
}

.va-text-bottom {
  vertical-align: text-bottom;
}

.mnw-100 {
  min-width: 100%;
}

.mxw-100 {
  max-width: 100%;
}

table.table {
  width: 100%;
  border-collapse: collapse;
}

table.table th, table.table td {
  padding: 0.5rem;
  border: 2px solid #000;
}

table.table {
  border-bottom: 8px solid #000;
}

table.table th {
  border-bottom: 4px solid #000;
}

.box.ba > table.table {
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 6px;
}

.box.ba > table.table th:first-child, .box.ba > table.table td:first-child {
  border-left-width: 0;
}

.box.ba > table.table th:last-child, .box.ba > table.table td:last-child {
  border-right-width: 0;
}
