<section class="Page Lore">
	<div class="box ba bw1 mb3">
		<div class="header">
			<h2 class="bg0 fg1 ph3 pv2">Azeros</h2>
		</div>

		<div class="content ph3 pv2">
			<b>What is Azeros?</b>
			<p>
				Azeros was a robotics research company turned private military.
			</p>
			<p>
				During a world-wide conflict which resulted in the lost of most major world powers.
				Private Militaries sprang up to take their place.
			</p>
			<p>
				The Azeros was forced into its position once it started expanding its work to weapons development, and then weapons testing, without an active military to protect and test, they took matters into their own hands.
			</p>
			<p>
				While they re-iterate as having no influence over the local government, many have seen otherwise.
			</p>
		</div>
	</div>

	<div class="box ba bw1 mb3">
		<div class="header">
			<h2 class="bg0 fg1 ph3 pv2">AMS</h2>
		</div>

		<div class="content ph3 pv2">
			<b>Azeros Munition Standards</b>
			<p>
				With the destruction of several capitol cities, and the dissolution of military powers, the world was entering an age of anarchy in terms of weapons development.
			</p>
			<p>
				Before things could take a turn for the worst, the Azeros cobbled up the remains of various munition standards and pieced them together to form what would become the AMS, or Azeros Munitions Standard, while it contained input from other countries and companies, the Azeros name stuck to it.
			</p>
		</div>
	</div>

	<div class="box ba bw1 mb3">
		<div class="header">
			<h2 class="bg0 fg1 ph3 pv2">FROST</h2>
		</div>

		<div class="content ph3 pv2">
			<b>What is FROST?</b>
			<p>
				Federal Regiment Of Support and Tactics, often just called the north military, they were a small military group that protected the border between the Azeros and northern lands.
			</p>
			<p>
				When the wars broke out in the east, FROST was dragged into it, receiving arms from the Azeros, they quickly formed an alliance and exchanged trade secrets.
			</p>
			<p>
				FROST ran it's own research groups many of which performed many questionable experiments.
			</p>
			<p>
				In the end their biggest contribution were sub-zero munitions, simply codenamed FROST Rounds, they caused a severe drop in temperature upon impact and were often cold to touch.
			</p>
		</div>
	</div>

	<div class="box ba bw1 mb3">
		<div class="header">
			<h2 class="bg0 fg1 ph3 pv2">LLM</h2>
		</div>

		<div class="content ph3 pv2">
			<b>What is LLM?</b>
			<p>
				Llama Core Tek, a weapons development company hailing from the south.
			</p>
			<p>
				They were notoriously known for supplying any side of a conflict, however during the wars, they were quickly forced in choosing a single side when several of their own factories were caught up in the conflicts.
			</p>
			<p>
				The LLM specialize in shotguns, grenade launchers and various other explosive weaponry.
			</p>
			<p>
				While mostly AMS compliant, there are some weapons made off spec and end up on the black market.
			</p>
		</div>
	</div>

	<div class="box ba bw1 mb3">
		<div class="header">
			<h2 class="bg0 fg1 ph3 pv2">Harmonia</h2>
		</div>

		<div class="content ph3 pv2">
			<b>What is Harmonia?</b>
			<p>
				Harmonia is the name given to the spirit world.
			</p>
			<p>
				It contains various wandering spirits and vast amounts of elemental energy believed to be trapped in time.
			</p>
			<p>
				Occasionally, odd relics will appear in the main world.
			</p>
		</div>
	</div>
</section>
